* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

/* ----- LADO ESQUERDO ----- */

.left {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center;   
    text-align: center;        
}

.logo {
    width: 260px;
    margin-bottom: 40px;
}

/* titulos */
h1 {
    font-size: 36px;
    font-weight: 700;
    color: #0f2a33;
}

.sub {
    margin-top: 6px;
    margin-bottom: 35px;
    font-size: 16px;
    color: #999;
}

/* Formulário */
.form {
    width: 350px;
    text-align: left;
}

.form label {
    font-size: 14px;
    font-weight: 600;
    color: #7d2a85;
}

.form input {
    width: 100%;
    height: 38px;
    border: 1px solid #bbb;
    border-radius: 6px;
    margin: 5px 0 18px;
    padding: 0 10px;
    font-size: 15px;
}

.remember {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #7d0b86;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.forgot {
    display: block;
    margin-top: 12px;
    text-align: center;
    color: #7d0b86;
    font-size: 14px;
    text-decoration: none;
}

/* Cadastro */
.register {
    margin-top: 22px;
    font-size: 15px;
    color: #555;
    text-align: center;
}

.cad {
    color: #7d0b86;
    font-weight: 600;
    text-decoration: none;
}

/* Rodapé */
.footer {
    position: absolute;
    bottom: 22px;
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.footer a {
    text-decoration: none;
    color: #777;
}

/* ----- lado amarelo----- */

.right {
    width: 50%;
 background: #F4BA26 url("../imgs/login.png");

    background-size: cover;
    background-position: center;
}
